<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keystroke Recognition</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Keystroke Recognition</h1>
    <form id="keystrokeForm" action="/experimentGP" method="POST">
        <label for="inputArea">Type: I cani sono animali fedeli e intelligenti. Sono ottimi compagni per le persone e aiutano in molte attività quotidiane.</label><br>
        <textarea id="inputArea" rows="10" cols="50"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
    <form id="keystrokeForm" action="/experimentManhattan" method="POST">
        <button type="submit">Submit</button>
    </form>
    <script src="/static/keystrokes.js"></script>
</body>
</html>
